.post-card--horizontal .post-card__hero {
  min-height: 220px;
  position: relative;
  display: flex;
  align-items: flex-end;
}

.post-card--horizontal .post-card__hero-img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.post-card--horizontal .post-card__overlay {
  width: 100%;
  color: #fff;
  padding: 1.25rem;
  background: linear-gradient(0deg, rgba(9, 9, 11, 0.8), rgba(9, 9, 11, 0));
  position: relative;
}

.post-card--vertical .card-img-top {
  height: 300px;
  object-fit: cover;
  background-color: #111;
  border-top: 0 !important;
}

.post-card--vertical {
  overflow: hidden;
  position: relative;
  border: 0;
  width: 100%;
}

.post-card--vertical.card {
  border: 0;
  border-radius: 0;
}

.post-card--vertical .post-card__hover {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(0deg, rgba(9, 9, 11, 0.7), rgba(9, 9, 11, 0.2));
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.post-card--vertical .btn-danger {
  background-color: #d40000;
  border-color: #d40000;
}

.post-card--vertical .btn-danger:hover,
.post-card--vertical .btn-danger:focus {
  background-color: #b00000;
  border-color: #b00000;
}
.post-card--vertical:hover .post-card__hover {
  opacity: 1;
}

